.classA{background-color: #CCCCCC;}
.classContain
{
	width: 100%;
	height: 1000px;
	background-color: #F3F3F3;
	/*background-color: silver;*/
}
.classblank
{
	width: 10%;
	height: 100%;
	float: left;
	/*background-color: red;*/
	/*background-color: #F3F3F3;*/
}
.classcontext
{
	width: 80%;
	height: 100%;
	float: left;
}
.classheader
{
	width: 100%;
	height: 48px;
	line-height: 48px;
	float: left;
	/*background-color: #F3F3F3;*/
}
.classloc
{
	width: 8%;
	height: 100%;
	float: left;
}
.classhbank
{
	width: 40%;
	height: 100%;
	float: left;
}

.classform
{
	width: 20%;
	height: 100%;
	float: left;
}

.classintro
{
	width: 100%;
	height: 480px;
	float: left;
	/*background-color: darkgoldenrod;*/
}

.classinleft
{
	width: 60%;
	height: 100%;
	line-height: 100%;
	float: left;
	text-align: center;
	/*align-content:flex-start;*/
	/*background-color: black;*/
}

.classinrigh
{
	width: 40%;
	height: 100%;
	text-align: center;
	float: left;
	/*background-color: silver;*/
	border: darkblue;
}

.classformk
{
	width: 100%;
	height: 25%;
	line-height: 100%;
	text-align: center;
	/*background-color: aquamarine;*/
	float: left;
}

.classformh
{
	width: 100%;
	height: 12.5%;
	line-height: 100%;
	float: left;
	text-align: center;
	/*background-color: aquamarine;*/
}

